:root {
    --primary: #c6e6d4;
    --secondary: #effff8;
    --tertiary: #93ff2e;
    --light: #ffffff;
    --dark: #093b24;
    --border-radius: 0.3rem;
    --spacing-one: calc(1rem * 0.25);
    --spacing-two: calc(1rem * 0.5);
    --spacing-three: 1rem;
    --spacing-four: calc(1rem * 1.5);
    --spacing-five: calc(1rem * 3);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--secondary);
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    font-weight: 300;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 5px 0;
    color: var(--dark);
    line-height: 1.25;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

p {
    font-size: 1.1rem;
    margin-top: 0;
}

a {
    text-decoration: none;
}

header {
    background-color: var(--primary);
    position: sticky;
    top: 0;
}

nav {
    width: 100%;
    margin-top: 10px;
    justify-content: center;
}

nav a:hover {
    color: var(--secondary);
    background-color: var(--dark);
}